Django==4.2.10
psycopg2
django-environ
django-allauth
djangorestframework
celery
django-q==1.3.9
django-celery-results
django-background-tasks
django-cors-headers
pandas
django-filter
setuptools
numpy
